{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h2>Inventaire réseau</h2>

<div class="liste">

    {% for element in donnees %}

    <article class="carte">

        <h3>{{ element.hostname }}</h3>

        <p><strong>Type :</strong> {{ element.natureEquipement }}</p>
        <p><strong>Zone :</strong> {{ element.zoneTechnique }}</p>
        <p><strong>Fabricant :</strong> {{ element.fabricant }}</p>
        <p><strong>État :</strong> {{ element.etatLiaison }}</p>

        <p class="ip-bloc">
            <strong>IP :</strong>
            <span class="ip-adresse">{{ element.ipv4 }}</span>
            <a href="https://ping.pe/{{ element.ipv4 }}" target="_blank" class="btn-ping">
                Ping
            </a>
        </p>

        <a href="{{ url_for('detail', id=element.id) }}">Voir le détail</a>

    </article>

    {% endfor %}

</div>

{% endblock %}